body { 
    text-align: center;
    background-color: black;
}


.spaghetti,
.filet,
.pizza {
    display: inline-block;
    background-color: darkgray;
    padding: 5px;
}

.list {
    background-color: lightgray;
    padding: 15px;
    border: 5px;
    margin: 10px auto;
    width: 550px;
    border: 5px solid aquamarine;
}

.first {
    font-size: 20px;
    background-color: lightgray;
    padding: 5px;
    border: 5px solid aquamarine;
    margin: 10px auto;
    width: 650px;
}