body { 
    text-align: center;
}


.hamilton {
background-color: aquamarine;    
}

.rose {
    background-color: red;
}

.filet {
    background-color: brown;
}

.pizza {
background-color: yellow;
}

.spaghetti {
    background-color: orange;
}